<ol style="margin-left: 1em;">
	<li>Opprett event på livestream.com, og legg inn alle detaljer.</li>
	<li>Trykk "Publish event". Pass på at du ikke velger "notify followers".</li>
	<li>
		Under share (<span class="dashicons dashicons-share-alt2"></span>)
			                                     finner du link og embedkode.
	</li>
	<li>
		Lim inn linken her:
		<input value="{{ livestream.url }}" type="text" class="form-control" id="live_link" style="margin-bottom: 0;" name="live_link"/>
	</li>
	<li>
		Lim inn embed-koden her:
		<input value="{{ livestream.url }}" type="text" class="form-control" id="live_link" style="margin-bottom: 0;" name="live_link"/>
		<p class="text-muted">
			Bruk player size: 640 x 360, og standardinnstillinger ellers.
		</p>
	</li>
	<li>
		<button type="submit" class="btn btn-success btn-ukm btn-xs">Lagre</button>
		og sett opp din sendeplan.
	</li>
</ol>