<b>Regler:</b>
<br/>
<ol style="margin-left: 1em;">
	<li>Aldri endre passord!</li>
	<li>Opprett et eget livestream-event, og endre kun på dette.</li>
	<li>Kontoen skal kun brukes til UKM-arrangement.</li>
	<li>Test i god tid før arrangementet, så
		<a href="mailto:support@ukm.no?subject=Livestream">support</a>
		rekker å hjelpe deg ved problemer.</li>
</ol>
