<ol style="margin-left: 1em;">
	<li>
		Last ned
		<a href="https://livestream.com/producer/software" target="_blank" class="btn btn-ukm btn-xs">Livestream producer</a>
	</li>
	<li>
		Installer og start programmet.
	</li>
	<li>
		Logg inn med detaljene ovenfor, og velg eventet du opprettet.
		<br/>
		Har du ikke opprettet event, se "koble sammen ukm.no og livestream" ovenfor.
	</li>
	<li>
		Sjekk at innstillinger er riktig, og trykk "Go Live".
	</li>
</ol>