a.videodetaljer, a.videoslett, a.sepa {
	float: right;
	margin-right: 10px;
}

div.detaljvindu {
 	display: none;
}

div.detaljvindu div.loading {
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	margin: 10px;
}

div.UKMvideoplayer {
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-color: #d3d3d3;
	margin: 0px;
	height: auto;
}

div.videoContainer {
	margin: 10px;
	padding: 5px;
	
	background: #fff;
		
	border: 1px solid rgb(211,211,211);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ie-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;

	vertical-align: top;
	clear: both;
	
	margin-bottom: 
}
div.videoContainer img.image {
	height: 50px;
	float: left;
	margin-right: 6px;
}
div.videoContainer span.navn {
	font-weight: bold;	
}


li.innslag div.innslag_left {
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-color: #d3d3d3;
	margin: 0px;
}

li.innslag .first {
	border-top-style: solid;
	border-top-width: 1px;
	margin: 0px;
	clear: both;
	height: 61px;
	
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-ie-border-radius: 10px 10px 0px 0px;
	-o-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;	
}
li.innslag .last {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	min-height: 10px;
	height: 10px;
	padding: 0px;

	-webkit-border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-ie-border-radius: 0px 0px 10px 10px;
	-o-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;	
}



div.feedbacktext {
	display: none;
}

div.innslag_left, div.innslag_right {
	float: left;

	width:600px;

	padding: 0px;

	background-color: rgb(245,245,245);
}

div.innslag_left {
	padding-top: 8px;
}
div.innslag_right {
	margin: 0 0 8px 0;

	width: 100px;
	margin-left: 4px;
	border: 1px solid rgb(211,211,211);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ie-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}



div.lastoppNyVideo, div.lastoppNyVideo a, div.lastoppNyVideo a div {
	margin: 0px;
	padding: 0px;
}


div.videostatus {
	width: 70px;
	text-align: center;
	float: left;
	cursor: pointer;
}




span.kommune {
	float: right;
	margin-right: 10px;
	font-size: 11px;
}

div.videoer {
	display: none;
}

ul.forestilling {
	list-style-type:none;
	margin: 0 10px 0 0;
	float: left;
}

li.innslag {
	display:inline-block;
	list-style-type:none;
	width: 750px;
	border: none;
	background: none;
}




.video_tabs {
	margin-top: 9px;
	min-width:940px;
}
.video_tabs_desc {
	background-color: #eee;
	padding: 4px 4px 4px 10px;
	border: 1px solid #CCC;
	border-top: 0px solid #ccc;
}

.video_tabs a {
	border: 1px solid #ccc;
	background: #ccc;  
	color:#0F6799;
	padding: 5px 5px;
	border-bottom: none;
	margin-right: 10px;
	display: inline-block;
	text-decoration:none;
	width: 280px;
	
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.video_tabs a:hover{ background: #ddd; color: #21759B;}
.video_tabs a.active{ background: #eee; color: #21759B;}

.video_tabs a div{ clear:both;}
.video_tabs a div > span{display:inline-block; margin:0 0 0 10px; font-size:12px; font-weight: normal;}
.video_tabs a div > span.tab_header{font-size:14px; font-weight: bold;}
.video_tabs a div > img{display:block; float:left;}
.ukmvideo_wrapper { padding: 10px 0 10px 9px; border-left:1px solid #ccc;}
