.UKMvideo_width {
	width:750px;
}

.ett_innslag, .videoreportasje {
	padding:4px;
}

.ett_innslag h1,
.videoreportasje h1 {
	font-size:14px;
	border-left:1px solid #ccc;
	float:left;
	line-height:40px;
	margin: 0px 0px 0px 10px;
	padding:0 0 0 20px;
}

.ett_innslag .actions div,
.videoreportasje .actions div {
	width:60px;
	text-align:center;
line-height: 14px;
}

.ett_innslag .actions img,
.videoreportasje .actions img {
	width:20px;
	margin:0 0 0px;
	padding:0;
}

.details {
	padding-left: 132px; 
}

.details .loader {
	padding-top: 14px;
}
.details .loader > img {
	margin-top: -14px;
}

.delete {
	color: #bc2121;
}

.video {
 background: #fefefe;
 padding: 10px;
 margin-top: 10px;
 margin-bottom: 0px;
}
.video .videoaction {
	float: left;
	padding: 10px;
	margin-top: -10px;
	text-align: center;
}
.video .videoactions img {
	width:20px;
	margin:0 0 -8px;
	padding:0;
}

.video .embedhowto {
	background: #fff;
}
.video h4 {
	margin: 0px;
	padding: 0px;
	padding-top: 12px;
}


.overunder {
	text-align:center;
	font-weight:700;
	color:inherit;
	text-rendering:optimizelegibility;
	padding:4px 0;
}

.overunder .over {
	line-height:20px;
	font-size:25px;
}

.overunder .under {
	font-weight:400;
	font-size:11px;
	line-height:11px;
	margin:3px 0 0;
}

.clickable {
	cursor:pointer;
}

#add_reportasje_container {
	margin-bottom: 10px;
}

.videoreportasje div.actions {
 width: 250px;
 border: 1px solid #ff00ff;
float: left;
}
.videoreportasje h1 {
 float: left;
}
.videoreportasje .actions div {
	width:60px;
	text-align:center;
        line-height: 14px;
        height: 50px;
}
.videoreportasje .actions .converting img {
     margin: 5px 20px 2px;
}