/* Header */
.main-header {
    position: relative;
    overflow: hidden;
}
.main-header.default-header {
    margin-bottom: -120px !important;
}
.main-header .row {
       width: calc(100% - 100px + 15px) !important;
}
.main-header .inner {
    margin-left: -15px;
    margin-right: -15px;
    height: 100px;
    padding-bottom: 135px;
    background: #a0aec0;
    margin-bottom: 100px;
}
.main-header .header-content-paamelding {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
}
.main-header .header-content-paamelding .info {
    margin: auto;
    padding: 0;
    color: #fff;
    max-width: 400px;
    margin-left: 0;
}
.main-header .header-content-paamelding .info .tilbake-button:hover {
    color: #fff;
}
.main-header .header-content-paamelding .info .tilbake-button:hover svg {
    fill: #fff !important;
}
.main-header .header-content-paamelding .info .tilbake-button {
    background: transparent;
    border: none;
    color: #CBD5E0;
    font: normal normal 300 14px/16px Poppins;
    margin-bottom: 15px;
    text-decoration: none;
}
.main-header .header-content-paamelding .info .tilbake-button svg {
    margin-right: -4px;
}
.main-header .header-content-paamelding .info h1 {
    font: normal normal 500 28px/42px Poppins;
}
.main-header .header-content-paamelding .info .lead {
    font: normal normal normal 14px/18px Roboto;
    font-weight: 300;
    color: #ffffff78;
}
.round-bottom-bolge {
    width: calc(100% + 200px);
    height: 260px;
    border-bottom-right-radius: 500%;
    overflow: hidden;
    border-bottom-left-radius: 500%;
    position: absolute;
    background: #00004D;
    margin-top: -33px;
    left: -100px;
    right: -100px;
}
.right-side-img-header {
    padding: 0 !important;
    opacity: .4;
}
.right-side-img-header .bolge-img {
    display: flex;
}
.right-side-img-header .bolge-img {
    max-height: 230px;
    margin: auto 0 auto auto;
}
.modal-content {
    border: none;
}
.modal-header {
    color: #A0AEC0;
    background-color: #00000008;
    border: none;
}
.modal-title {
    color: #677382;
    font-weight: 400;
}
.modal-body {
    color: #1A202C;
    font: normal normal 300 13px/15px Roboto;
    font-size: 16px;
}
#headerMainLoader {
    background: #a0aec057;
    width: 100%;
    height: 100%;
    position: fixed;
    border: solid 1px;
    top: 0;
    bottom: 0;
    display: flex;
    z-index: 99999;
}
#headerMainLoader .spinner-border {
    margin: auto;
}
.ukm-navbar.other-page {
    margin-bottom: 0;
}
#mainModalDialog {
    margin-top: 20px;
}
.modal-header .close {
    position: absolute;
    right: 15px;
    top: 15px;
}
#adminmenuwrap {
    z-index: 1000;
}
@media(max-width: 575px) {
    .main-header-paamelding .header-content-paamelding {
        margin-left: 100px !important;
    }
    .main-header .header-content-paamelding {
        margin-left: 100px;
        width: auto;
        margin-right: 100px;
    }
    
}