.hendelser .hendelse {
    padding: 10px;
    padding: 20px;
}
.hendelser .hendelse .inner {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 7px #00000014;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 15px;
    position: relative;
    width: 100%;
    padding: 20px;
}
.hendelser .hendelse .inner .videos {
    margin: 25px 0;
}
.upload-video-for-hendelse {
    display: flex;
}
.hendelser .hendelse .inner .info h4 {
    margin-top: 0;
}
.hendelser .hendelse .inner .type {
    position: absolute;
    right: 15px;
    top: 15px;
}