{% extends "layout.html.twig" %}

{% block content %}
	<style>
		.mt-3 {
			margin-top: 1.25em;
		}
		.megacard {
			margin-top: 20px;
			background: #fff;
			border: 1px solid #ccd0d4;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
			background: #fff;
		}
	</style>
	{# Argument to vue #}
	<span id="vueArguments" arrangementId="{{ arrangement.id }}" hidden></span>
	<div class="container-fluid">
		<div id="uploadVueApp"></div>

		<div id="livestreamStatic" class="hide">
			{% include "livestream.html.twig" %}
		</div>
	</div>
{% endblock %}
