{% extends "layout.html.twig" %}

{% block content %}
	<style>
		.mt-3 {
			margin-top: 1.25em;
		}
		.megacard {
			margin-top: 20px;
			background: #fff;
			border: 1px solid #ccd0d4;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
			background: #fff;
		}
	</style>
	<div class="container-fluid">
		<div id="uploadVueApp"></div>
		
		<div id="drag-drop-area" style="height: 300px"></div>
		<div class="for-ProgressBar"></div>
		<button class="upload-button" style="font-size: 30px; margin: 20px">Upload</button>
		<div class="uploaded-files" style="margin-top: 50px">
			<ol></ol>
		</div>
		<h1>YoYo20</h1>
		<script type="module">
			import {
				Uppy,
				Tus,
				DragDrop,
				ProgressBar,
			} from 'https://releases.transloadit.com/uppy/v3.0.1/uppy.min.mjs';

			const uppy = new Uppy({ debug: true, autoProceed: true });

			const onUploadSuccess = el => (file, response) => {
				const li = document.createElement('li');
				const a = document.createElement('a');
				a.href = response.uploadURL;
				a.target = '_blank';
				a.appendChild(document.createTextNode(file.name));
				li.appendChild(a);

				document.querySelector(el).appendChild(li);
			};

			uppy.use(DragDrop, { target: '#drag-drop-area' })
			const uploadBtn = document.querySelector('button.upload-button');
			uploadBtn.addEventListener('click', () => uppy.upload());
		</script>
	</div>
{% endblock %}
