{% extends "layout.twig.html" %}



{% block content %}
	<div class="span8">
		<select class="pull-right" id="film_sort_list">
			<option value="alfa" {{ sortering=='alfa' ? 'selected="selected"' : '' }}>Alfabetisk sortert</option>
			{% for hendelse in hendelser %}
			<option value="{{hendelse.id}}" {{ sortering==hendelse.id ? 'selected="selected"' : '' }}>{{hendelse.name}}</option>
			{% endfor %}
		</select>
		<h4>Sorter listen</h4>
		<p>Bruk denne hvis du skal laste opp film fra forestillinger</p>
	</div>
	<ol class="unstyled UKMvideo_width">
		{% for innslag in program %}
		<li class="well well-mini ett_innslag" id="innslag_{{innslag.id}}" data-innslag="{{innslag.id}}">
			<div class="header">
				<div class="actions">
	
					<div class="pull-left details_show clickable">
						<img src="//ico.ukm.no/sirkel-pluss-256.png" /><br />
						<small>Vis detaljer</small>
					</div>
					<div class="pull-left details_hide clickable" style="display:none;">
						<img src="//ico.ukm.no/sirkel-minus-256.png" /><br />
						<small>Skjul detaljer</small>
					</div>
	
					<div class="pull-left upload clickable">
						<img src="//ico.ukm.no/video-upload-256.png" /><br />
						<small>Last opp</small>
					</div>
	
	
					<div class="pull-left numimages">
						<div class="overunder">
							<div class="over">{{innslag.num_videos}}</div>
							<div class="under">film{{innslag.num_videos == 1 ? '' : 'er'}}</div>
						</div>
					</div>
	
					<h1>{{innslag.name}}</h1>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="details" style="display:none;">
				<div class="loader">
					<img src="//ico.ukm.no/loading.gif" width="40" class="pull-left" />
					<strong>Vennligst vent, laster detaljer..</strong>
				</div>
				<div class="loaded">
				</div>
			</div>
			<div class="clearfix"></div>
		</li>
		{% endfor %}
	</ol>
	
{% endblock %}