{% extends "layout.twig.html" %}

{% block content %}

<div class="clearfix"></div>

<h2>{% if video_id == 'new' %}Last opp{% else %}Rediger{% endif %} videoreportasje</h2>

<input type="hidden" name="converter_season" id="converter_season" value="{{monstring.season}}" />
<input type="hidden" name="converter_pl_id" id="converter_pl_id" value="{{monstring.pl_id}}" />
<input type="hidden" name="converter_type" id="converter_type" value="innslag" />
<input type="hidden" name="converter_b_id" id="converter_b_id" value="0" />
<input type="hidden" name="converter_blog_id" id="converter_blog_id" value="{{blog_id}}" />

<div id="fileupload_container">
	<div class="videoopplaster pull-left span5">
		<form action="?page=UKMvideo&action=reportasje" method="post">
			
			{% if video_id == 'new' %}
				<div class="span3" id="filechooser" style="border: none;">
					<label>Velg fil</label>
					<input id="fileupload_reportasje" type="file" name="files[]" style="border: none">
				</div>
		
				<div class="group alert alert-warning span9" id="uploading" style="display:none;">
					<label>Laster opp fil</label>
					<progress value="0" max="100" id="uploadprogress" class="progress progress-striped active" style="width: 90%"></progress>
				</div>
				<div class="clearfix"></div>
				
				<div class="alert alert alert-success span9" id="uploaded" style="display:none;">
					<h3>Filen er lastet opp!</h3>
					<strong>Fyll ut skjemaet nedenfor, og trykk lagre!</strong>
				</div>	
				<div class="clearfix"></div>
			{% endif %}
			
			<div class="group">
				<label>Tittel</label>
				<input type="text" name="reportasje_title" class="input-block-level span4" value="{{video_title}}" />
			</div>
	
			<div class="group">
				<label>Album:</label>
				<select name="reportasje_category" id="reportasje_category" class="span4">
					{% for id,name in sets %}
					<option value="{{id}}" {{ id==video_set ? 'selected="selected"' : ''}}>{{name}}</option>
					{% endfor %}
					<option value="new">Opprett nytt album</option>
				</select>		

				<div class="clearfix"></div>
				<div class="input-prepend" id="new_album" style="display:none;">
				  <span class="add-on">{{set_basename}}</span>
				  <input class="span3 input-block-level" id="prependedInput" type="text" placeholder="Navn på nytt album" name="reportasje_new_album">
				</div>
			</div>

			<div class="group">
				<label>Beskrivelse</label>
				<textarea name="reportasje_description" class="span4">{{video_description}}</textarea>
			</div>

			
			<input type="hidden" id="b_id" value="0" name="b_id" />	
			<input type="hidden" id="cron_id" value="0" name="cron_id" />
			<input type="hidden" id="video_id" value="{{video_id}}" name="video_id" />
			<div class="group">
				<input name="submit_video" class="button-primary" id="submitbutton" type="submit" value="Lagre" disabled="disabled" />
			</div>
		</form>
	</div>
	
	<div class="dropzone pull-left span5" id="fileupload_dropzone">
		<img src="http://ico.ukm.no/grafikk/dropzone.png" />
	</div>
	<div class="clearfix"></div>
</div>

<div id="fileupload_message" style="display:none;">
	
</div>
{% endblock %}