<script language="javascript" type="text/javascript">
	var UKM_CONFIG = {
VIDEOCONVERTER_BASE_URL: 'https://videoconverter. {{ UKM_HOSTNAME }}'
};
</script>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			{% include "wp_modul.flashbag.html.twig" %}
		</div>
	</div>
</div>
{% block content %}{% endblock %}
