{% extends "layout.html.twig" %}

{% block content %}
	<div class="container-fluid">
		<form action="?page=UKMlive" method="post">
			<div class="row">
				<div class="col-xs-12">
					<h2>
						Direktesending
						<small>
							{% if is_super_admin and arrangement.getEierType() in ['kommune','arrangement'] %}
								<a href="?page=UKMvideo&subaction=livestream-deaktiver" class="small btn btn-ukm btn-xs superadmin">Deaktivér</a>
							{% endif %}
						</small>
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-7">
					<p class="text-muted bold" style="margin-bottom:0;">SENDEPLAN</p>
					{% include "livestream/sendeplan.html.twig" %}
				</div>
				<div class="col-xs-12 col-md-5">
					<p class="text-muted bold" style="margin-bottom:0;">INNLOGGING</p>
					<ol class="list-group">
						<li class="list-group-item">
							<a href="https://livestream.com/" class="pull-right btn btn-xs btn-ukm" target="_blank">Logg inn på livestream.com</a>
							<b>Brukernavn:</b>
							<code>{{ livestream.getValue('brukernavn') }}</code>
							<br/>
							<b>Passord:</b>
							<code>{{livestream.getValue('passord') }}</code>
						</li>
						<li class="list-group-item">
							{% include "livestream/regler.html.twig" %}
						</li>
					</ol>
					<p class="text-muted bold" style="margin-bottom:0;">KOBLE SAMMEN UKM.NO OG LIVESTREAM</p>
					<ol class="list-group">
						<li class="list-group-item">
							{% include "livestream/oppsett.html.twig" %}
						</li>
					</ol>

					<p class="text-muted bold" style="margin-bottom:0;">NÅR DU SKAL SENDE DIREKTE</p>
					<ol class="list-group">
						<li class="list-group-item">
							{% include "livestream/sende.html.twig" %}
						</li>
					</ol>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
