{% extends "layout.twig.html" %}

{% block content %}
<div class="UKMwidth">
	<h2>Direktesending</h2>
	<p class="lead">
		Denne siden forklarer deg hvordan du kan vise direktesendt TV fra din mønstring på nettsiden
	</p>
	
	<h3>Trinn 1: Opprette livestream-hendelse (event)</h3>
	<p>Bruker du noe annet enn livestream, gå til trinn 2</p>
	{#
	<p>
		Trenger du hjelp / første gang på livestream?
		<a href="#">Klikk her for å se hvordan du lager hendelse (event)</a>
	</p>
	#}
	<ul class="list-unstyled" >
		<li class="alert alert-info" style="padding-left: 30px;">
			<strong>INNLOGGINGSDETALJER</strong>
			<ol class="list-unstyled">
				<li>
					<strong>Adresse:</strong>
					<a href="https://new.livestream.com/" target="_blank">https://new.livestream.com</a>
				</li>
		
				<li>
					<strong>Brukernavn:</strong>
					{{ livestream_username }}
				</li>
		
				<li>
					<strong>Passord:</strong>
					{{ livestream_password }}
				</li>
			</ol>
		</li>		
		<li class="alert alert-warning" style="padding-left: 30px;">
			<strong>REGLER FOR BRUK AV UKM NORGES LIVESTREAM</strong>
			
			<ol>
				<li>Aldri endre passord!</li>
				<li>Opprett et eget event, og endre kun på dette</li>
				<li>Kontoen skal <u>kun</u> brukes til å streame UKM-arrangementer</li>
				<li>Kontakt support <u>i god tid før mønstring</u> hvis du har spørsmål om tjenesten</li>
			</ol>
		</li>

	</ul>

	
	<h3>Trinn 2: Legge til direktesending på nettsiden</h3>
	<form action="?page=UKMvideo&action=livestream" method="post">
		<div class="form-group">
			<label for="live_link">Lenke til stream-siden</label>
			<input value="{{ live_link }}" type="text" class="form-control" id="live_link" name="live_link" placeholder="Skriv inn full URL til hvor du kan se på streamen" />
			<p class="help">Kopier adresselinjen når du er inne på event-siden</p>
		</div>
	
		<div class="form-group">
			<label for="live_embedcode">Eventuell embed-kode</label>
			<textarea class="form-control" id="live_embedcode" name="live_embedcode" placeholder="Lim inn embedcode fra streaming-tjeneste">{{ live_embedcode }}</textarea>
			<p class="help">Dette er kun tilgjengelig under fylkesmønstringer, eller ved bruk av en annen tjeneste enn livestream.com</p>
		</div>
		
		<button type="submit" class="btn btn-success">Lagre</button>
	</form>
	
	<h4>Når og hvor vises sendingen?</h4>
	<p>
		<b>Lenke til direktesendingen vises på <a href="../">din nettside</a> under hele mønstringen. </b>
		<br />
		Dvs fra det tidspunktet du har satt som mønstringsstart ({{ monstring.start|date('d.m H:i') }}) til det tidspunktet du har satt som mønstringsslutt ({{ monstring.stopp|date('d.m H:i') }}).
		<br />
		Er tidspunktene feil kan du rette dette i <a href="?page=UKMMonstring">mønstrings-modulen</a>.
	</p>
	
	<p>
		<b>Under forestillingene vil videovinduet vises på <a href="../">forsiden</a> (så fremt du har lagt inn embed-kode).</b>
		<br />
		Disse tidspunktene bestemmes av forestillingene du har opprettet i <a href="?page=UKMprogram_admin">program-modulen</a>.
		<br />
		Disse er nå satt til:
	</p>
	<ol class="list-unstyled unstyled">
		{% for hendelse in hendelser %}
			<li>
				<b>{{ hendelse.start|dato('d.M') }}</b>
				Fra:
				<b>{{ hendelse.start|date('H:i') }}</b>
				Til:
				<b>{{ hendelse.stop|date('H:i') }}</b>
				&nbsp; 
				({{ hendelse.navn }})</li>
		{% else %}
			<li class="alert alert-info">Ingen forestillinger er satt opp enda. Gjør dette i <a href="?page=UKMprogram_admin">program-modulen</a></li>
		{% endfor %}
	</ol>
	
	<h3>Trinn 3: Stream sendingen</h3>
	<p>
		Last ned "livestream producer" for <a href="https://cdn.livestream.com/producer/LivestreamProducer.pkg" target="_blank">mac</a> eller <a href="https://cdn.livestream.com/producer/LivestreamProducer.exe" target="_blank">pc</a>, og logg inn med brukernavn og passord. Velg riktig event, og du er da klar for å streame lyd og bilde.
	</p>
</div>
{% endblock %}