{% extends "layout.html.twig" %}

{% block content %}
	<div class="container-fluid">
		<form id="livestreamHendelserForm">
			<div class="row">
				<div class="col-xs-12">
					<h2>
						Direktesending
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<p class="text-muted bold" style="margin-bottom:0;">SENDEPLAN</p>
					{% include "livestream/sendeplan.html.twig" %}
				</div>
			</div>
		</form>
	</div>
{% endblock %}
