{% extends "layout.twig.html" %}

{% block content %}
	
	<div class="UKMvideo_width" id="add_reportasje_container">
		<button class="pull-right btn btn-success btn-medium" id="add_reportasje">Last opp ny reportasje</button>
		<div class="clearfix"></div>
	</div>
	<ol class="unstyled UKMvideo_width">
	{% for reportasje in reportasjer %}
	<li class="well well-mini videoreportasje" id="videoreportasje_{{reportasje.v_id}}" data-videoreportasje="{{reportasje.v_id}}">
		
		<div class="header">
			<div class="actions">

				<div class="pull-left edit clickable">
					<img src="//ico.ukm.no/pencil-256.png" /><br />
					<small>Rediger</small>
				</div>
				
				{% if reportasje.converting == false %}
					<div class="pull-left embed clickable">
						<img src="//ico.ukm.no/embed-close-256.png" /><br />
						<small>Bruk i nyhetsinnlegg</small>
					</div>
	
					<div class="pull-left facebook clickable" data-url="{{reportasje.full_url}}">
						<img src="//ico.ukm.no/face-256.png" /><br />
						<small>Del på facebook</small>
					</div>
				{% else %}
					<div class="pull-left converting">
				 		<img src="//ico.ukm.no/loading/converting.gif" class="pull-right" />
				 		<small>Konverterer...</small>
					</div>
				{% endif %}
				<div class="clearfix"></div>
			</div>

			<h1>{{reportasje.video_name}}</h1>

			<div class="clearfix"></div>

			{% if reportasje.converting == false %}
		 		<div class="embedhowto well well-small" style="display: none;">
			 		<p>Hvis du vil ha med filmen i et nyhetsinnlegg, kopierer du inn adressen i den gule boksen på ønsket sted i teksten, og systemet ordner resten automatisk når innlegget vises</p>
			 		<div class="alert">{{reportasje.full_url}}</div>
		 		</div>
		 		<div class="clearfix"></div>
	
		 		<div class="pull-right preview">
			 		<div class="embedcode">{{reportasje.embedcode|raw}}</div>
		 			Denne filmen er nå synlig i UKM-TV på følgende adresse: <a href="{{reportasje.full_url}}" target="_blank">{{reportasje.full_url}}</a>.
		 		</div>

		 		<div class="clearfix"></div>
		 	{% endif %}
		</div> {# /header #}
		<div class="clearfix"></div>
	</li>
	{% else %}
	<li class="alert alert-info">
		Du har ikke lastet opp noen videoreportasjer enda.
	</li>
	{% endfor %}
	</ol>
{% endblock %}