{% extends "layout.twig.html" %}

{% block content %}
	
	<div class="UKMvideo_width" id="add_reportasje_container">
		<button class="pull-right btn btn-success btn-medium" id="add_reportasje">Last opp ny reportasje</button>
		<div class="clearfix"></div>
	</div>
	<ol class="unstyled UKMvideo_width">
	{% for reportasje in reportasjer %}
	<li class="well well-mini videoreportasje" id="videoreportasje_{{reportasje.v_id}}" data-videoreportasje="{{reportasje.v_id}}">
		<div class="header">
			<div class="actions">

				<div class="pull-left edit clickable">
					<img src="//ico.ukm.no/pencil-256.png" /><br />
					<small>Rediger</small>
				</div>
				
				{% if reportasje.converting == false %}
					<div class="pull-left embed clickable">
						<img src="//ico.ukm.no/embed-close-256.png" /><br />
						<small>Bruk i nyhetsinnlegg</small>
					</div>
	
					<div class="pull-left facebook clickable">
						<img src="//ico.ukm.no/face-256.png" /><br />
						<small>Del på facebook</small>
					</div>
				{% else %}
					<div class="pull-left converting">
				 		<img src="//ico.ukm.no/loading/converting.gif" class="pull-right" />
				 		Konverterer...
					</div>
				{% endif %}

				<h1>{{reportasje.video_name}}</h1>
			</div>
			<div class="clearfix"></div>
			<img src="http://video.ukm.no/{{reportasje.video_image}}" class="pull-right thumbnail" />
		</div>
		<div class="clearfix"></div>
	</li>
	{% else %}
	<li class="alert alert-info">
		Du har ikke lastet opp noen videoreportasjer enda.
	</li>
	{% endfor %}
	</ol>
{% endblock %}