{% extends "layout.twig.html" %}

{% block content %}
<div>
	<h3>Tips til videoopplasting</h3>
	<p>
		<strong>Tenk over hva du laster opp:</strong>
		Jo større fil du laster opp, jo lengre tid tar det å laste den opp. Har du dårlig nett, velger du lavere kvalitet. MEN, så lenge som mulig ønsker vi at du følger følgende tips til kvalitet:
	</p>
	<ol>
		<li><strong>Komprimering / filformat:</strong> h264-komprimert MP4-fil</li>
		<li><strong>Frame rate:</strong> 25fps</li>
		<li><strong>Bit rate ved full HD: (1920x1080px):</strong> 15 000 kbit/s (15 Mbit/s)</li>
		<li><strong>Bit rate ved 720p (1280x1080px):</strong> 10 000 kbit/s (10 Mbit/s)</li>
		<li><strong>Interlaced:</strong> Nei. Hvis originalopptaket ditt er interlaced må du deinterlace før opplasting.</li>
		<li><strong>Lydkodek:</strong> AAC-LC Audio codec</li>
		<li><strong>Bit rate lyd:</strong> 320 kbit/s</li>
		<li><strong>Sampling rate:</strong> 48 kHz (48 000Hz)</li>
	</ol>
</div>


<div>
	<h3>Valg av nettleser</h3>
	<p><strong>Videoopplasteren kan kreve en relativt ny nettleser.</strong>
		<br />
		Vi anbefaler
		<a href="https://www.google.com/intl/no/chrome/browser/">Google Chrome</a>, 
		<a href="http://www.mozilla.org/nb-NO/firefox/new/">Mozilla Firefox</a> eller 
		<a href="http://windows.microsoft.com/nb-no/internet-explorer/ie-9-worldwide-languages">Internet Explorer</a>.	
	</p>
	<p>Problemer med opplasting? <a href="mailto:support@ukm.no">Ta kontakt med support!</a></p>
</div>
{% endblock %}
